* {
  margin: 3px 2px 0px 7px;

  font-family: sans-serif;
  box-sizing: border-box;
  font-weight: 100;
}

.wrapper {
    margin: 3px 2px 0px 7px;

  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: center;
}

.nav {
  margin: 3px 2px 0px 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  row-gap: 0;
}

.image {
  width: 20px;
  height: 20px;
}

.googleimage {
  width: 270px;
  height: 80px;
}
a {
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.button {
  background-color: rgb(11, 111, 193);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: small;
  font-weight: 300;
}

.button:hover {
  background-color: rgb(32, 117, 186);
}

.button:focus {
  outline: none;
}


.blue-text{
  color: blue;
  font-size: medium;

}

.buttongoogle {
  background-color: rgb(249, 249, 249);
  color: black;
  border-radius: 4px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: small;
  font-weight: 300;
}


.buttongoogle:focus {
  outline: none;
}


strong {
  font-weight: 500;
  color: black;
  font-size: 10px;
  font-family: sans-serif;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bar {
  margin: 0 auto;
  width: 575px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  padding: 0 10px;
}



.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  height: 100%;
  border: none;
  flex-grow: 1;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
}

.icon {
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.search {
  margin-right: 10px;
}

.camera {
  margin-left: 10px;
}

.microphone {
  margin-left: 10px;
}

.section1 {
  background-color: rgb(227, 227, 227);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: center;
}



.footer-right a,
.footer-left a {
  margin: 0 1rem;
}


