{% extends 'main/base.html'%}
{% load static %}
{%  block title%} Google {% endblock%}
{% block main %}

<div class="main-content">
    <div class="logo">
        <img src="{% static 'images/google-logo.png' %}" alt="Google Logo">
    </div>
    <div class="search-bar">
        <img src="{% static 'images/search.png' %}" alt="">
        <input type="text" placeholder="Search Google or type a URL">
        <img src="{% static 'images/mircophone.png' %}" alt="not found">
        <img src="{% static 'images/camera.png' %}" alt="not found">
    </div>
    <div class="buttons">
        <button>Google Search</button>
        <button>I'm Feeling Lucky</button>
    </div>
    <div class="language">
        Google offered in: <a href="#">العربية</a>
    </div>
</div>

{% endblock%}