 {% extends "clone/base.html" %}

{% load static %}
{% block content %}

<div class="search-container">
    <div class="logo">
        <img class="googleimage" alt="Google" src="{% static 'images/google-logo.png' %}">
    </div>
    <div class="bar">
        <img class="icon search" src="{% static 'images/search.png' %}" alt="Search Icon">
        <input class="searchbar" type="text" title="Search">
        <img class="icon microphone" src="{% static 'images/mircophone.png' %}" title="Search by Voice" alt="Microphone Icon">
        <img class="icon camera" src="{% static 'images/camera.png' %}" title="Search by camera" alt="Camera Icon">

    </div>
    <div class="buttons">
        <button class="buttongoogle" type="button">Google Search</button>
        <button class="buttongoogle" type="button">I'm Feeling Lucky</button>
    </div>
    <p>Google offered in:  <span style="color: #3c1dd3; font-size:small"> العربية</span></p>
</div>

<div class="section1">
    <section>
        <div>
            <div>
                <p href="#" style="font-size: medium; padding-bottom: 8px; margin: 8px;">Saudi Arabia</p>
            </div>
        </div>
    </section>
    <hr color="#c5c5c5">
    <section>
        <div class="footer">
            <div class="footer-right" >
                <a href="#"style="font-size: medium;">About</a>
                <a href="#"style="font-size: medium;">Advertising</a>
                <a href="#"style="font-size: medium;">Business</a>
                <a href="#"style="font-size: medium;">How Search Works</a>
            </div>
            <div class="footer-left">
                <a href="#"style="font-size: medium;" >Privacy</a>
                <a href="#"style="font-size: medium;" >Terms</a>
                <a href="#"style="font-size: medium;" >Settings</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
