<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='/static/css/search.css'>
    <title>Google Clone</title>
</head>
<body>
<div class="wrapper">
    <nav class="nav">
        <a> Gmail </a>
        <a> Images </a>
        <img src="/static/images/apps.png" alt="Apps" class="image">          
        <button class="button">Sign In</button>
    </nav>

    <div class="search-container">
        <div class="logo">
            <img class="googleimage" alt="Google" src="/static/images/google-logo.png">
        </div>
        <div class="bar">
            <img class="icon search" src="/static/images/search.png">
            <input class="searchbar" type="text" title="Search">
            <img class="icon camera" src="static/images/camera.png" title="Search by camera">
            <img class="icon microphone" src="static/images/mircophone.png" title="Search by Voice">
    </div>
        <div class="buttons">
            <button class="buttongoogle" type="button">Google Search</button>
            <button class="buttongoogle" type="button">I'm Feeling Lucky</button>
    </div>
        <p>Google offered in: <span style="color: blue;">العربية</span></p>
    </div>
<div class="section1">

    <section>
        <div>
                <div>
                    <a>saudi arabia</a>
                </div>
        </div>
    </section>
    <hr color="#c5c5c5" >
    <section>
        <div class="footer">
            <div class="footer-right">
                <a>About</a>
                <a>Advertising</a>
                <a>Business</a>
                <a>How Search Works</a>
            </div>
            <div class="footer-left">
                <a>Privacy</a>
                <a>Terms</a>
                <a>Settings</a>
            </div>
        </div>
    </section>
    </div>

</div>
        
</body>
</html>
