html, body {
    height: 100%; 
    margin: 0; 
}

.wrapper {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    justify-content: flex-end;
    width: 100%; 
    column-gap: 1.3rem;
}

.btn {
    background-color: rgb(28, 126, 219);
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding: 0.6rem 1.7rem;
}

.signin {
    font-size: medium;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.logo img {
    width: 272px;
}

.search-box {
    width: 570px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-view {
    padding: 10rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.material-symbols-outlined {
    font-size: 24px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px; 
}

.right-nav {
    display: flex;
    align-items: center;
}

.button-1 {
    background-color: rgba(241, 242, 243, 0.675);
    color: rgb(0, 0, 0);
    border-radius: .3rem;
    border: none;
    padding: 0.8rem 1.5rem;
    align-self: start;
    font-size: medium;
}

.button-container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.content p {
    font-size: .5rem;
    margin-bottom: 10px;
}

.footer {
    background-color: #f4f4f4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    width: 100%;
    position: relative;
}

.upper-footer {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.footer-links, .right-footer {
    display: flex;
    gap: 29px; 
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 15rem;
}

.terms-logo {
    width: 1000px; 
    height: auto; 
    transform: translateY(-3cm); 
}

.terms-text {
    transform: translateY(-20cm); 
    width: 80%; 
    text-align: center; 
    padding-top: 40px;
}
.terms-container a{
    color: blue;
    font-family: 'Roboto', sans-serif;

}
.bold {
    font-weight: bold;
}
.terms-container  h1,h2,p {
    font-family: sans-serif;

}