{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
       <div class="main-header">
          <a href="">Gmail</a>
          <a href="">Images</a>
          <span class="material-symbols-outlined">apps </span>
          <button class="btn signin">Sign in </button>
        </div>

        <main>
  <section class="middel-view">
      <div class="logo">
          <img  src="/static/images/google-logo.png" alt="">
      </div>
      <div class="search-container">
        <div class="search-box">
            <nav>
                <span class="material-symbols-outlined"> search </span>           
                <div class="right-nav">
                    <img src="/static/images/mircophone.png" alt="">
                    <img src="/static/images/camera.png" alt="">
                </div>

            </nav>

            

        </div>

     </div>

        </main>
    


    </div>



</body>
</html>