{% extends 'main/base.html' %}

{% block content %}
<section class="middle-view">
    <div class="logo">
        <img src="/static/images/google-logo.png" alt="">
    </div>
    <div class="search-container">
        <div class="search-box">
            <span class="material-symbols-outlined">search</span>
            <div class="right-nav">
                <img src="/static/images/mircophone.png" alt="" class="search-icon">
                <img src="/static/images/camera.png" alt="" class="search-icon">
        </div>
    </div>
    <div class="button-container">          
            <button class="button-1">Google Search</button>
            <button class="button-1">I'm Feeling Lucky </button>


    </div>
</section>
{% endblock %}