{% extends 'main/base.html'%} 
    
{% load static %} 

{% block title %}Google Terms of Service{% endblock %} 

{% block content %}
<div class="content">
  <img
    src="{% static '/images/terms-logo.png' %}"
    alt="Google Terms of Service"
  />
  <h1>Google Terms of Service</h1>
  <p>
    Effective 5 January 2022 | <a href="#">Archived versions</a> |
    <a href="/">Download PDF</a>
  </p>
  <p>Country version: Saudi Arabia</p>
  <h2>What's covered in these terms</h2>
  <p>
    We know it’s tempting to skip these Terms of Service, but it’s important to
    establish what you can expect from us as you use Google services, and what
    we expect from you.
  </p>
  <p>
    These Terms of Service reflect the way that Google’s business works, the
    laws that apply to our company, and certain things that we’ve always
    believed to be true. As a result, these Terms of Service help define
    Google’s relationship with you as you interact with our services. For
    example, these terms include the following topic headings:
  </p>
  <p>
    Understanding these terms is important because, by using our services,
    you’re agreeing to these terms.
  </p>
  <p>
    Besides these terms, we also publish a Privacy Policy. Although it’s not
    part of these terms, we encourage you to read it to better understand how
    you can update, manage, export and delete your information.
  </p>

  <h1>Terms</h1>
  <h2>Service provider</h2>
  <p>Google services are provided by, and you’re contracting with:</p>
  <p>
    Google LLC organised under the laws of the State of Delaware, USA, and
    operating under the laws of the USA 1600 Amphitheatre ParkwayMountain View,
    California 94043 USA
  </p>
  <h1>Age reqirements</h1>
  <p>
    If you’re under the age required to manage your own Google Account, you must
    have your parent or legal guardian’s permission to use a Google Account.
    Please ask your parent or legal guardian to read these terms with you.
  </p>
  <p>
    If you’re a parent or legal guardian, and you allow your child to use the
    services, then these terms apply to you and you’re responsible for your
    child’s activity on the services.
  </p>
  <p>
    Some Google services have additional age requirements as described in their
    service-specific additional terms and policies.
  </p>
</div>
{% endblock %}
