{% extends 'main/base.html' %}
{% load static %}
{% block title %} Terms of Service {% endblock %}
{% block content %}
    <section class="main-section">
        <img src="{% static 'images/tos_main_illustration.svg' %}" alt="Terms of Service">

        <article class="tos-paragraph">
            <h1><b>Google Terms of Service</b></h1>
           <p>Effective 5 January 2022 | <a href="" class="out-link">Archived versions</a> | <a href="" class="out-link">Download
            PDF</a></p>
            <a href="" class="out-link">Country version</a>: Saudi Arabia

            <h2>What’s covered in these terms</h2>
            <p>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect
                from
                us as you use Google services, and what we expect from you.</p>

            <p>These Terms of Service reflect the way that Google’s business works, the laws that apply to our company,
                and
                certain things that we’ve always believed to be true. As a result, these Terms of Service help define
                Google’s
                relationship with you as you interact with our services. For example, these terms include the following
                topic
                headings:</p>
            <ul>
                <li>What you can expect from us, which describes how we provide and develop our services</li>
                <li>What we expect from you, which establishes certain rules for using our services</li>
                <li>Content in Google services, which describes the intellectual property rights to the content that
                    you
                    find in
                    our services – whether that content belongs to you, Google or others
                </li>
                <li>In case of problems or disagreements, which describes other legal rights that you have, and what
                    to
                    expect in
                    case someone violates these terms.
                </li>
            </ul>
            <p>Understanding these terms is important because, by using our services, you’re agreeing to these terms.
                Besides these terms, we also publish a Privacy Policy. Although it’s not part of these terms, we
                encourage
                you
                to read it to better understand how you can update, manage, export and delete your information.</p>
            Terms

            <h2>Service provider</h2>
            <p>Google services are provided by, and you’re contracting with:
                Google LLC organised under the laws of the State of Delaware, USA, and operating under the laws of the
                USA  1600
                Amphitheatre Parkway Mountain View, California 94043 USA</p>

            <h2>Age requirements</h2>
            <p>If you’re under the age required to manage your own Google Account, you must have your parent or legal
                guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read these
                terms
                with
                you.</p>
            <p>If you’re a parent or legal guardian, and you allow your child to use the services, then these terms
                apply to
                you and you’re responsible for your child’s activity on the services.
                Some Google services have additional age requirements as described in their service-specific additional
                terms
                and policies.</p>
        </article>
    </section>
{% endblock %}
