* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: rgb(40, 40, 40);
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

input:focus {
    outline: none;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 1.1rem;
    padding: 10px 20px;
    align-items: center;
}

nav button {
    background-color: rgb(39, 91, 222);
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(40, 40, 40);

}

a:hover {
    color: blue;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

.logo {
    width: 350px;
}


.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 35px;
    padding: 10px 20px;
    column-gap: 5px;
    width: 650px;
}


.icon {
    display: flex;
    justify-content: end;
    height: 2rem;
    width: 2rem;
}

#icon-search {
    display: flex;
    justify-content: start;

}

.search-container input {
    border: none;
    width: 100%;
    padding: 5px 10px;
}

.utils {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.utils button {
    background-color: #f4f3f3;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 200ms ease-out;
    color: rgb(70, 70, 70);
}


.util-offered {
    color: rgb(80, 80, 80)
}

.util-offered a {
    color: blue;
}

.tos-image {
    width: 650px;
}

.tos-paragraph {
    width: 650px;
    white-space: pre-line;
}


.size {
    padding: 10px 12px;
    background-color: rgba(230, 230, 230);
    border-radius: 50%;
    text-align: center;
    line-height: 1;
}


.top-footer {
    padding: 18px 26px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.bottom-footer {
    padding: 18px 26px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
}

.bottom-footer > div {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.out-link {
    color: #0aa6ff;
}
