{% extends 'googleApp/inAllPages.html' %}
{% block title %} Google Search {% endblock %}

{% block content %}

<section class="main-section">

    <div class="main-container">
        <img src="/static/images/google-logo.png" class="logo"/>
        <div class="search-container">
            <span class="material-symbols-outlined">search</span>
            <input type="search" placeholder="search.." />
            <img src="/static/images/mircophone.png" class="icon"/>
            <img src="/static/images/camera.png"  class="icon"/>
        </div>
    </div>


    <div class="utils">
        <button>Google Search</button>
        <button>I'm Feeling Lucky</button>
    </div>

    <div class="util-offered">
        Google offered in:  <a href="#">العربية</a>
    </div>


</section>

{% endblock %}