{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Google</title>
</head>
<body>
    <section>
        <header>
            <ul>
                <li><a href="#">gmail</a></li>
                <li><a href="#">images</a></li>
                <li><a href="#"><svg class="gb_h" focusable="false" viewBox="0 0 24 24">
                    <path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path>
                    <image src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt="" height="24" width="24"></image>
                </svg></a></a></li>
                <li><button>sign in</button></li>
            </ul>
        </header>
        <div class="BoxSearch">
            <img class="logo" src="{% static 'images/google-logo.png' %}"/>
            <div class="Box-search">
                <input type="text" class="input_search">
                <div class="IconSearch">
                    <div>
                        <a href="#">
                            <img class="img" src="{% static 'images/mic.png' %}"/>
                        </a>
                        <a href="#">
                            <img class="img" src="{% static 'images/camera.png' %}"/>
                        </a>
                    </div>
                    <div><a href="#"><img  src="{% static 'images/search.png' %}"/></a></div>
                </div>
            </div>
            <div class="btns">
                <button>Google Search</button>
                <button>I'm Feeling Lucky</button>
            </div>
           <p class="lang">Google offered in :<a href="#" style="text-decoration: none;"> العربية</a></p>
        </div>
        <div class="footer">
            <div class="row row1">
                <p>Saudi Arabia</p>
            </div>
            <div class="row row2">
                <div class="div-footer">
                    <div>
                    <a href="">About</a>
                    <a href="">Advertising</a>
                    <a href="">Business</a>
                    <a href=""> How Search works </a>
                    </div>
                <div>
                    <a href="">Privacy</a>
                    <a href="">Terms</a>
                    <a href="">Settings</a>
                </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>